In [103]:
import requests
import pandas as pd
import discord
from discord.ext import commands

base_url = 'https://api.hypixel.net/'
add_url = 'v2/skyblock/auctions'
url = base_url + add_url
# Function to fetch data from Polygon.io
response = requests.get(url)
auction_data = response.json()

In [104]:
# Data cleaning
auctions_data = auction_data['auctions']
df = pd.DataFrame(auctions_data)
df.drop(columns=['uuid', 'auctioneer','profile_id','coop', 'extra','category','item_lore','tier','item_bytes','claimed','claimed_bidders','item_uuid','bin','bids'],inplace=True)
df

,start,end,item_name,starting_bid,highest_bid_amount,last_updated
0,1720884440213,1720927640213,Night Vision Charm,10,133100,1720914751361
1,1720911726991,1720933326991,Aspect of the End,56052,64460,1720914751045
2,1720914750886,1721087550886,Fierce Superior Dragon Boots,6000000,0,1720914750886
3,1720914749980,1720936349980,Crown of Greed,970000,0,1720914749980
4,1720914749696,1720936349696,Lucky Hoof,179999,0,1720914749696
...,...,...,...,...,...,...
995,1720914404312,1720936004312,Old Dragon Helmet,400000,0,1720914404312
996,1720914403941,1721087203941,Ancient Maxor's Boots ✪✪✪✪,8500000,0,1720914403941
997,1720914403681,1720936003681,Crochet Tiger Plushie,80000,0,1720914403681
998,1720893190616,1720914790616,Glacite Boots,1750,2013,1720914403586
999,1720914403443,1721000803443,Sorrow Chestplate,5800000,0,1720914403443

In [105]:
df['start'] = pd.to_datetime(df['start'], unit='ms')
df['end'] = pd.to_datetime(df['end'], unit='ms')
df['last_updated'] = pd.to_datetime(df['last_updated'], unit='ms')
df

,start,end,item_name,starting_bid,highest_bid_amount,last_updated
0,2024-07-13 15:27:20.213,2024-07-14 03:27:20.213,Night Vision Charm,10,133100,2024-07-13 23:52:31.361
1,2024-07-13 23:02:06.991,2024-07-14 05:02:06.991,Aspect of the End,56052,64460,2024-07-13 23:52:31.045
2,2024-07-13 23:52:30.886,2024-07-15 23:52:30.886,Fierce Superior Dragon Boots,6000000,0,2024-07-13 23:52:30.886
3,2024-07-13 23:52:29.980,2024-07-14 05:52:29.980,Crown of Greed,970000,0,2024-07-13 23:52:29.980
4,2024-07-13 23:52:29.696,2024-07-14 05:52:29.696,Lucky Hoof,179999,0,2024-07-13 23:52:29.696
...,...,...,...,...,...,...
995,2024-07-13 23:46:44.312,2024-07-14 05:46:44.312,Old Dragon Helmet,400000,0,2024-07-13 23:46:44.312
996,2024-07-13 23:46:43.941,2024-07-15 23:46:43.941,Ancient Maxor's Boots ✪✪✪✪,8500000,0,2024-07-13 23:46:43.941
997,2024-07-13 23:46:43.681,2024-07-14 05:46:43.681,Crochet Tiger Plushie,80000,0,2024-07-13 23:46:43.681
998,2024-07-13 17:53:10.616,2024-07-13 23:53:10.616,Glacite Boots,1750,2013,2024-07-13 23:46:43.586
999,2024-07-13 23:46:43.443,2024-07-14 23:46:43.443,Sorrow Chestplate,5800000,0,2024-07-13 23:46:43.443

In [107]:
def find_item(item_name:str, item_price:int) -> pd.DataFrame:
    filtered_df = df[df['item_name'] == item_name]
    filtered_df = filtered_df.sort_values(by=['starting_bid'])
    filtered_df = filtered_df.query(f'starting_bid < {item_price}')
    if filtered_df.empty:
        return "Item not on market"
    return filtered_df
find_item('Glacite Boots', 1000000)

,start,end,item_name,starting_bid,highest_bid_amount,last_updated
998,2024-07-13 17:53:10.616,2024-07-13 23:53:10.616,Glacite Boots,1750,2013,2024-07-13 23:46:43.586
456,2024-07-13 23:50:05.830,2024-07-14 05:50:05.830,Glacite Boots,85000,0,2024-07-13 23:50:05.830
568,2024-07-13 23:49:25.411,2024-07-14 05:49:25.411,Glacite Boots,99999,0,2024-07-13 23:49:25.411
816,2024-07-13 23:47:53.883,2024-07-14 05:47:53.883,Glacite Boots,100000,0,2024-07-13 23:47:53.883